:root {
  --primary-background: #ffefba;
  --heading-font: "Playfair Display", serif;
  --primary-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p,
h2 {
  font-family: var(--primary-font);
  font-weight: normal;
}


.hero, .about-section {
  background: var(--primary-background);
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background-color: #fddd73;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bolder;
  padding: 15px 20px;
}

.about-section {
  padding: 160px 50px
}

.img-fluid {
  height: auto;
}
