:root {
  --primary-background-color: #ffefba;
  --heading-font-family: "Playfair Display", serif;
  --primary-font-family: "Poppins", sans-serif;
  --primary-font-color: #2a363b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-font-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p,
.homepage-h2 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--primary-font-color);
  opacity: 0.7;
}

.hero,
.about-section,
.myworks-section,
.connect-section {
  background: var(--primary-background-color);
  padding: 160px 0;
  text-align: center;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.about-section {
  padding: 160px 100px;
}

.about-me-paragraph {
  text-align: left;
}

.shecodes-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-font-color);
}

.img-fluid {
  height: 400px;
}

.portfolio-link a,
.resume-link a {
  text-decoration: none;
  color: var(--primary-font-color);
  opacity: 0.7;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px 20px;
  font-family: var(--primary-font-family);
}

.portfolio-link a:hover,
.resume-link a:hover,
.project-link:hover {
  font-weight: bold;
  color: var(--primary-font-color);
}

.homeworks-subheading {
  font-size: 25px;
}

.project-summary {
  background-color: var(--primary-background-color);
}

.project-img {
  margin-left: 70px;
}

.project-link {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  text-decoration: none;
  color: var(--primary-font-color);
  opacity: 0.7;
  font-family: var(--primary-font-family);
}

.coming-soon {
  background: var(--primary-background-color);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 10px;
}

.connect-link {
  text-decoration: none;
  color: var(--primary-font-color);
}

.connect-icons {
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: var(--primary-font-color);
  margin: 10px;
}
